<nav>
  <ul>
  <li><a href="/"{{#if home}} class="active"{{/if}}>Home</a></li>
  <li><a href="/about"{{#if about}} class="active"{{/if}}>About</a></li>
  <li><a href="/gallery"{{#if gallery}} class="active"{{/if}}>Gallery</a></li>
  </ul>
</nav>