<section class='about'>
  <article>
    <h3>{{title}}</h3>
    <h4>cur</h4>
    <div class='gallery'>
      {{#each photos}}
        <div><img src='{{this}}' /></div>
      {{/each}}
    </div>
  </article>
</section>