<h1>Home Page</h1>

<section>
  <div class="content-container">
    <div class="gallery">
      {{#each photos}}
        <div><img src="{{this}}" /></div>
      {{/each}}
    </div>
  </div>
</section>